*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.poison{
    background-color: #774076;
}
.grass{
    background-color: #3b9760;
}


.card{
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    background-color: darkgray;
    border-radius: 1rem;
}

.card_numberback{
    position:absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
    color: black;
    
}
.card_img{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}
.card_img img{
    width:100%;
    max-width: 9rem;
}
.card_info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}
.card_data{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    flex-wrap: wrap;
}
.card_data p{
    font-size: 0.75rem;
    font-weight: 500;
}

.card_tipos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:0.5rem;
    align-items: center;
}
.poison{
    padding: .2rem 1rem;
    color: #fff;
    border-radius: .5rem;
}
.grass{
    padding: .2rem 1rem;
    color: #fff;
    border-radius: .5rem;
}
.card_stats{
    margin: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
